.about {
  background-color: rgba(49, 68, 68, 1);
  box-shadow: inset 10px 10px 100px #1c2121, inset 10px 10px 200px #1c2121;
  height: 100%;
  max-height: 100%;
  h1 {
    font-family: "Courgette", fantasy;
    color: #f03c06;
    justify-content: center;
    display: flex;
  }
}
.text-start {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #d9d6d6;
}
.col {
  height: 100%;
}
h5 {
  color: #00ffc6c7;
}
