.navbar {
  z-index: 2 !important;
}
.navbar-brand {
  font-family: "Courgette", cursive;
  font-size: xx-large;
  font-weight: 400;
  color: var(--primary-orangered) !important;
}
.logo {
  width: 50px;
  margin-left: 10px;
  height: 50px;
  border: 2px;
  border-radius: 50px;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  font-family: "Courgette", cursive;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orangered);
}
