.project {
  background-color: rgba(49, 68, 68, 1);
  box-shadow: inset 10px 10px 100px #1c2121, inset 10px 10px 200px #1c2121;
  height: 100%;
  h1 {
    font-family: "Courgette", fantasy;
    color: #f03c06;
    justify-content: center;
    display: flex;
  }
}
.project-image {
  width: 50%;
  border-radius: 5px;
  opacity: 0.9;
}
.card {
  background: inherit;
  border: 1px solid#d9d6d6;
  p {
    color: #d9d6d6;
  }
}
.card-body h1 {
  color: #00ffc6c7;
}
.card.shadow-sm {
  max-height: 500px;
  min-height: 500px;
}
