:root a {
  text-decoration: none;
  --primary-white: #fff;
  --primary-white2: #d9d6d6;
  --primary-orangered: #f03c06;
  --primary-dark: rgba(255, 255, 255, 0);
}
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}
